* {
  margin: 0;
}
header {
  background-color: red;
  height: 50px;
}

main {
  background-color: grey;
  height: 100vh;
}

footer {
  background: yellow;
  height: 50px;
}

.first {
  background-color: greenyellow;
}

.second {
  background-color: aqua;
}
